@import url('https://fonts.googleapis.com/css2?family=Iceberg&display=swap');
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(./pngtree-dark-abstract-background-with-overlap-layers-image_305024.jpg) no-repeat center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.container {
   
    position: relative;
    text-align: center;
    font-family: 'Iceberg', cursive;
}

.randomnumber {
    display: flex;
    flex-direction: column;
}

#from, #to {

    border-radius: 10px;
    font-size: 1.3rem;
    outline: none;
    padding: 0.7rem;
    width: 6rem;
    margin: 0 auto;
    margin-bottom: 1rem;
}



.heading,.random {

    color: #fff;
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 3.5rem;
}
.heading{
    position: absolute;
    left: 16%;
    top: -20%;
}
.random{
    margin-top: 2rem;
font-size: 1.3rem;
margin-bottom: 2rem;
}

.counter {
    color: white;
    font-size: 4rem;
}

.lowerbtn, .addbtn, #generate {
    background: radial-gradient(#13bebe, #13243E);
    margin: 0 25px 0 0;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    font-size: 1.5rem;
    outline: none;
    border: none;
    transition: all 0.4s ease-in-out;
    transform: scale(1);
    font-family: 'Iceberg', cursive;
}
#generate{
    width: 10rem;
    margin: 0 auto;
}

.lowerbtn:hover, .addbtn:hover {
    transform: scale(1.1);
}

.lowerbtn:active, .addbtn:active {
    box-shadow: 2px 2px 20px 2px #13bebe;
}

.reset {
    background: radial-gradient(#13bebe, #13243E);
    margin: 15px 0 0 0;
    padding: 10px 30px 5px 30px;
    border-radius: 5px;
    color: #fff;
    font-size: 1.5rem;
    outline: none;
    border: none;
    transition: all 0.4s ease-in-out;
    transform: scale(1);
    font-family: 'Iceberg', cursive;
}

.reset:hover {
    transform: scale(1.1);
}

.reset:active {
    box-shadow: 2px 2px 20px 2px #13bebe;
}